
.container{
  padding: 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.intro{
  line-height: 1;
  padding: 0% 30% 1% 0%;

}
.apodTitle{
  display: flex;
  justify-content: center;
  padding: 2%;
}

.button{
  background-color: black;
  color: white;
  padding: 10px;
  border: 2px solid white;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.button:hover {
  background-color: white;
  color: black;
  border: 2px solid black;
}

.form-container {
  background-color: #333;
  padding: 20px;
  border-radius: 8px;
  width: 300px;
  color: white;
}

.formContainer label {
  color: white;
  font-size: 14px;
  margin-bottom: 5px;
  display: block;
}

.formContainer input,
.formContainer textarea,
.formContainer select {
  background-color: #000000;
  color: white;
  border: 2px solid #ffffff;
  padding: 8px;
  font-size: 16px;
  width: 15%;
  border-radius: 5px;
  margin-bottom: 15px;
}

.apodContainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.listNameContainer h2{
  padding: 2% 0% ;
}